* {
  margin: 0;
  padding: 0;
}

body {
  /*animation: crossFade 50s infinite;*/
}

.bg {
  aspect-ratio: 16/9;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;

  /*opacity: 0!important;*/
}

.crossFade {
  animation: crossFade 3600s infinite;
}

.fade {
    animation: fade 10s infinite ease-in;
}


@keyframes crossFade {
  0% {
    background: red;
  }
  33% {
    background: green;
  }
  66% {
    background: blue;
  }
  100% {
    background: red;
  }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
          opacity: 1;
      }
    100% {
        opacity: 0;
    }
}
